.interactive_block {
    padding: 10px;
    margin-bottom: 20px;
}

.chart .bar {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

rect {
    fill:teal;
    fill-opacity:.8;
}
