html {
    /*noinspection CssNoGenericFontName*/
    font-family: 'OpenSans' !important;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/Open_Sans/OpenSans-Regular.ttf');
}

h1 {
    color: #1946ba;
}

.frame {
    width: 80%;
    max-width: 960px;
    height: 150px;
    border: 1px solid #F5F5F5;
    margin: 5px 0;
    padding: 0 5px;
}

.quote_block {
    width: 80%;
    max-width: 960px;
    height: auto;
    margin: 5px 20px;
    padding: 0 5px;
    border-left: 2px solid #8c8c8c;
}

.button {
    color: white;
    padding: 5px;
    background-color: #ec0b43;
    margin: 10px 10px 10px 0;
    border: none;
    cursor: pointer;
}

.select {
    margin: 10px 10px 10px 0;
    padding: 5px;
}

.needless_label {
    display: none;
}

.button_block, .option_block {
    padding-left: 10px;
}



