$icColor: #69F0AE;
$ccColor: #B39DDB;
$adOdColor: #FFE082;
$cdColor: #E6EE9C;
$orColor: #00B0FF;
$adColor: #FFCDD2;

$selectedColor: #60737d;
$baseColor: #BDBDBD;
$baseColorAlpha: rgba(149, 149, 149, 0.7);
$barColor: #4682B4;

$multiRangeHeight: 25px;

.content {
  display: block;
  width: 80%;
  height: 70%;

  .hist {
    display: block;
    width: 400px;
    height: 30%;
  }
}

.menu {
  display: block;
  padding: 5px;
}

.hidden {
  display: none;
}

.button {
  display: inline-block;
  fill: #F5F5F5;
  min-width: 110px;
  margin: 15px 5px;
  padding: 10px 15px 12px;
  stroke-width: 1px;
  stroke: #919191;
  cursor: pointer;

  &.selected {
    fill: $selectedColor;;
  }

  &-text {
    text-anchor: middle;
    dominant-baseline: central;
    font: 700 12px/1 'Open Sans', sans-serif;
    fill: $baseColor;
    cursor: pointer;
  }
}

.node {
  display: inline-block;
  min-width: 110px;
  margin: 15px 5px;
  padding: 10px 15px 12px;
  stroke-width: 1px;
  stroke: #212121;
  cursor: pointer;

  &-sink {
    display: inline-block;
    fill: #F5F5F5;
    min-width: 110px;
    margin: 15px 5px;
    padding: 10px 15px 12px;
    stroke-width: 1px;
    stroke: #212121;
    cursor: pointer;
  }

  &-text {
    text-anchor: middle;
    dominant-baseline: central;
    font: 700 12px/1 'Open Sans', sans-serif;
    fill: #212121;
    cursor: pointer;
  }
}

.IC{
  fill: $icColor;
}

.CC{
  fill: $ccColor;
}

.AD-OD{
  fill: $adOdColor;
}

.CD{
  fill: $cdColor;
}

.OR{
  fill: $orColor;
}

.AD{
  fill: $adColor;
}

.cluster {
  fill: #90A4AE;
  margin: 15px 5px;
  padding: 10px 15px 12px;
  stroke-width: 1px;
  stroke: #919191;
  cursor: pointer;

  &-text {
    text-anchor: middle;
    dominant-baseline: central;
    font: 700 20px/1 'Open Sans', sans-serif;
    fill: #fff;
    cursor: pointer;
  }
}

.invisible {
  fill: #fff;
}

.shadowed {
  filter: url(#drop-shadow);
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 20%;
}

.right {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 0px;

  &.bold {
    stroke-width: 1px;
  }

  &.licensing {
    stroke: green;
  }

  &.resolved {
    stroke-dasharray: 0,2 1;
  }

  &.patient-selected {
    stroke: #FFB900;
    stroke-width: 3;

    &.sinked {
      stroke: #FFB900;
      stroke-width: 3;
    }
  }

  &.sinked {
    stroke: #9C27B0;
    stroke-width: 3;
  }
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

.nodes circle {
  stroke: #000000;
  stroke-width: 1px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  display: block;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  //opacity: 0.7;
  transition: opacity .2s;
  margin-left: 0;
  pointer-events: none;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: $multiRangeHeight;
    background: $selectedColor;
    cursor: pointer;
    pointer-events: all;
    z-index: 1;
    outline: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: $multiRangeHeight;
    background: $selectedColor;
    cursor: pointer;
    pointer-events: all;
    z-index: 1;
    outline: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  & + .slider {
    margin-top: $multiRangeHeight * -1;
  }
}


//@mixin multirange-thumb {
//  pointer-events: all;
//}
//input[type="range"]::-webkit-slider-thumb {
//  @include multirange-thumb;
//}
//input[type="range"]::-moz-range-thumb {
//  @include multirange-thumb;
//}
//input[type="range"]::-ms-thumb {
//  @include multirange-thumb;
//}


.menu-header {
  font: bold 16px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.clusters-header {
  font: bold 16px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.pathways-header {
  font: bold 16px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.tooltip {
  line-height: 1;
  padding: 6px;
  background: $baseColorAlpha;
  border-radius: 10px;
  font-size: 12px;

  &-container {
  }

  &-bar {
    fill: $barColor;
  }
}

label {
  font: bold 13px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
}

